# Environment variables
.env

# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Uploads (optional - uncomment if you don't want to track uploads)
# public/uploads/*
# uploads/*